:root {
  --clr-main-purple: #512260;
  --clr-teal: #99ffea;
  --clr-yellow: #fffb8c;
  --clr-pink: #ffd0bf;
  --btn-transition: ease 0.3s;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: var(--clr-teal);
  box-shadow: 2px 2px 2px hsla(0, 0%, 100%, 0.25);
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  background: var(--clr-main-purple);
}
html {
  scrollbar-color: var(--clr-main-purple) var(--clr-teal);
  scrollbar-width: 6px;
}
body {
  background: linear-gradient(1deg, #99ffea 0%, #512260 100%);
  background-attachment: fixed;
  font-family: 'Zen Kaku Gothic Antique', monospace;
  overflow: auto;
  width: 100vw;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2 {
  color: var(--clr-yellow);
  font-family: 'Zen Kurenaido', monospace;
}
nav {
  width: 90%;
}

.page-wrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}
.nav-links {
  margin-top: 18px;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-end;
}
.link {
  color: var(--clr-yellow);
}
ul li:hover {
  transform: translateY(-5px) translateX(-5px);
  transition: var(--btn-transition);
}
.link::after {
  content: '';
  opacity: 0;
  width: 100%;
  height: 3px;
  border-radius: 6px;
  background-color: var(--clr-teal);
  transition: var(--btn-transition);
  display: block;
}
.link:hover::after {
  opacity: 1;
  transition: ease-in-out 0.3s;
}
.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
}
.about {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100vh;
  gap: 2rem;
}
.logo {
  width: 320px;
}
.infoBox {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 420px;
  gap: 2rem;
  height: 50vh;
}
.infoBox-title {
  font-size: 3rem;
  line-height: 5rem;
  font-weight: 900;
}
.infoBox-description {
  font-size: 1rem;
  text-align: center;

  line-height: 2rem;
  font-weight: 900;
}
.infoBox-link {
  color: var(--clr-main-purple);
  font-size: 16px;
  font-weight: 600;
}
.infoBox-link:hover {
  transform: scale(1.05);
}
.staff {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  width: 95vw;
}
.cards {
  position: relative;
  line-height: 1.7rem;
  padding: 2rem;
  display: flex;
  columns: 2;
  flex-wrap: wrap;
  gap: 1rem;
}
.flipCard {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  border-radius: 10px;
  width: 20rem;
  height: 27rem;
  -webkit-box-shadow: 0 30px 30px rgba(0, 0, 0, 0.2);
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.flipCard h3 {
  margin: 15px 0 15px 0;
}
.frontCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #caa6ff38;
  color: #333;
}
.backCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: var(--clr-teal);
  color: #333;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.card-img {
  position: relative;
  align-self: center;
  border-radius: 4px;
  width: 180px;
  height: 180px;
  margin: 10px;
}
.front {
  width: 85%;
  align-self: center;
}
.back {
  width: 85%;
  align-self: center;
}
.btn-social {
  transform: scale(1.8);
  color: var(--clr-main-purple);
  margin-top: 15px;
}
.btn-social:hover {
  color: #c9a6ff;
  transform: scale(1.9);
}
.rotate {
  transform: scale(1.2);
  position: absolute;
  align-self: flex-end;
  right: 15px;
  top: 10px;
  cursor: pointer;
}
.rotate:hover {
  color: var(--clr-teal);
}
.backCard .rotate:hover {
  color: #c9a6ff;
}
.footer-wrapper {
  position: relative;
  bottom: 0;
  background-color: #f1f1f12d;
  width: 100%;
  text-align: center;
}
.footer-wrapper a {
  font-family: 'Zen Kurenaido', monospace;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.863);
  height: 50px;
}
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-modal::before {
  content: '';
  background: #502260e0;
  position: absolute;
  width: inherit;
  height: 100%;
  z-index: -1000;
  top: 0;
}
.project-modal::before {
  content: '';
  background: linear-gradient(1deg, #99ffeb 0%, #502260ef 100%);
  background-attachment: fixed;
  position: absolute;
  width: inherit;
  height: 100%;
  z-index: -1000;
  top: 0;
}
.contact {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
}

.close {
  color: var(--clr-teal);
  cursor: pointer;
  align-self: center;
  transform: scale(2.5);
}
.contact-close {
  color: var(--clr-teal);
  cursor: pointer;
  align-self: center;
  margin-bottom: 5rem;
}
.project-close {
  color: var(--clr-teal);
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 50px;
  align-self: center;
}
.close:hover {
  color: var(--clr-pink);
}

.choices-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  height: 20vh;
  margin-top: 0;
}
.select {
  width: max-content;
  margin-top: 0;
  align-self: center;
  padding: 10px;
  border-radius: 5px;
  background: var(--clr-main-purple);
  border: none;
  color: var(--clr-pink);
  z-index: 2000;
}
.select option {
  font-size: 14px;
  padding: 6px;
}
.media-container {
  position: relative;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  padding: 2rem;
  width: 90vw;
  gap: 1rem;
}
.page-subtitle {
  margin: 2rem 0 2rem 0;
}

.media-card {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  flex-direction: column;
  margin: auto;
  border-radius: 10px;
  width: 15rem;
  min-width: calc(90% / 3);
  height: 26rem;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.1);
}
.media-card a {
  color: var(--clr-main-purple);
  text-decoration: none;
}
.media-card a:hover {
  font-weight: 900;
}
.media-card h3 {
  color: #ddd;
}
.media-card p {
  font-size: 20px;
}
.media-card .card-img {
  position: relative;
  align-self: center;
  border-radius: 4px;
  width: 180px;
  height: 260px;
  margin-bottom: 15px;
}
.hidden {
  display: none;
}
@media screen and (max-width: 1420px) {
  .flipCard {
    flex: 1 0 48%;
  }
}
@media screen and (max-width: 1080px) {
  ::-webkit-scrollbar {
    width: 2px;
  }
  body {
    background: linear-gradient(1deg, #99ffea 0%, #512260 100%);
  }

  h2 {
    font-size: 1.4rem;
    margin-top: 5rem;
  }
  .page-wrapper {
    gap: 5rem;
    min-height: 100vh;
    min-width: 100vw;
  }
  .container {
    margin-top: 0vh;
  }
  .about {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: space-evenly;
    width: 90%;
    height: max-content;
    gap: 5rem;
  }
  .staff {
    margin-top: 5rem;
  }
  .logo {
    width: 280px;
  }
  .infoBox {
    width: 70vw;
    height: max-content;
  }
  .infoBox-title {
    font-size: 2.5rem;
  }
  .infoBox-link {
    color: var(--clr-teal);
  }
  .infoBox-description {
    width: 100%;
    margin: auto;
    color: white;
  }
  .media-card {
    flex: 1 0 48%;
  }
  .select {
    margin-bottom: 20px;
  }
  .flipCard {
    min-width: 20rem;
  }

  .rotate {
    -webkit-transform: scale(2);
    transform: scale(2);
    top: 20px;
    right: 20px;
    color: var(--clr-main-purple);
  }
  .close {
    margin-top: 0vh;
  }
  .project-close {
    right: 25px;
    transform: scale(2);
  }
  .modal {
    flex-wrap: nowrap;
  }
  .media-card {
    min-width: 250px;
  }
  .contact {
    width: 80%;
  }
}

@media screen and (max-width: 880px) {
  .logo {
    width: 220px;
  }
  .infoBox {
    width: 100vw;
    height: max-content;
  }
  .infoBox-description {
    width: 80vw;
    margin: auto;
    color: white;
    text-align: center;
  }
  .infoBox-title {
    font-size: 2rem;
    width: 100%;
  }
  .infoBox-link {
    font-size: 1.1rem;
  }
  .staff-description {
    font-size: 1.6rem;
    margin-top: 1rem;
  }
}
@media only screen and (max-height: 580px) and (orientation: landscape) {
  .infoBox {
    font-size: 14px;
  }
  .infoBox h1 {
    font-size: 22px;
    margin-top: 10vh;
  }
  .infoBox-link {
    margin-bottom: 8vh;
  }
}
