:root {
  --clr-main-purple: #512260;
  --clr-lignt-purple: #c9a6ff;
  --clr-teal: #99ffea;
  --clr-yellow: #fffb8c;
  --clr-pink: #ffd0bf;
  --clr-gray: #f1f1f1;

  --btn-transform: translateY(-5px) translateX(-5px);
  --btn-transition: ease-in-out 0.3s;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(1deg, #99ffea 0%, #512260 100%);
  background-attachment: fixed;
  font-family: 'Zen Kaku Gothic Antique';
  overflow: auto;
}
header {
  width: 90vw;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2 {
  color: var(--clr-yellow);
}
input {
  border-radius: 6px;
  border: none;
  padding: 6px;
  background-color: #50226023;
  margin-bottom: 15px;
  text-align: center;
}
label {
  font-size: 16px;
}
input::placeholder {
  text-align: center;
}
.page-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}
.nav-links {
  margin-right: 1rem;
  margin-top: 18px;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-end;
}
.link {
  color: var(--clr-yellow);
}
.link:hover {
  transform: var(--btn-transform);
  transition: var(--btn-transition);
}
.link::after {
  content: '';
  opacity: 0;
  width: 100%;
  height: 3px;
  border-radius: 6px;
  background-color: var(--clr-teal);
  transform: var(--btn-transform);
  transition: var(--btn-transition);
  display: block;
  margin-top: 5px;
  margin-left: 5px;
}
.link:hover::after {
  opacity: 1;
  transition: ease-in-out 0.3s;
}
.container {
  text-align: center;
  margin-top: 10vh;
}
.container:nth-child(2) {
  color: var(--clr-gray);
  width: 80%;
  font-size: 1.1rem;
}
.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: 90%;
  align-items: center;
  gap: 4rem;
}
.logo {
  width: 280px;
}
.infoBox {
  width: 50%;
}
.staff {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.cards {
  position: relative;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex: 1;
  gap: 0.5rem;
  min-width: 90vw;
}
.flipCard {
  transform-style: preserve-3d;
  border-radius: 10px;
  width: 20rem;
  height: 27rem;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
}
.flipCard:hover {
  transform: rotateY(180deg);
}
.frontCard {
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: #caa6ff38;
  color: #333;
}
.backCard {
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: var(--clr-teal);
  color: #333;
  transform: rotateY(180deg);
}
.card-img {
  border-radius: 4px;
  width: 140px;
  height: 140px;
  margin-bottom: 10px;
}
.card-description {
  width: 80%;
  margin: auto;
  font-size: 16px;
  color: black;
}
.contact {
  width: 50%;
  font-size: 14px;
}
.input-area {
  margin-top: 10px;
  background-color: #ffd0bf2f;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--clr-main-purple);
  padding: 15px;
  border-radius: 10px;
  color: var(--clr-main-purple);
  font-weight: 600;
  font-size: 20px;
}
.msg-input {
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  background-color: #50226023;
  border: none;
}
.send-btn {
  cursor: pointer;
  background-color: var(--clr-main-purple);
  color: var(--clr-teal);
  width: 30%;
  padding: 15px;
  margin: auto;
}
.send-btn:hover {
  transform: var(--btn-transform);
  transition: var(--btn-transition);
  background-color: var(--clr-teal);
  color: var(--clr-main-purple);
}
.footer-wrapper {
  position: relative;
  background-color: #f1f1f12d;
  margin-top: 2rem;
  width: 100%;
  text-align: center;
}
.footer-wrapper a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 100;
  font-size: 12px;
  color: black;
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  .container {
    margin-top: 3vh;
  }
  .logo {
    width: 220px;
  }
  .infoBox {
    width: 90%;
  }
  .contact {
    width: 75%;
  }
}
